<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Upload</title>
  </head>
  <header>
    <a href="/">Home</a>

    <% if (user) { %>
    <a href="/new-message">Leave a message</a>

    <a href="/profile">Profile</a>

    <a href="/logout">Logout</a>

    <% } else { %>

    <a href="/login">Login</a>

    <a href="/sign-up">Sign Up</a>

    <% } %>
  </header>
  <body>
    <% if (user) { %> 
      <h1>Directories</h1>
      <% directories.directories.forEach(dir => { %>
    <p><%= dir %></p>
    <% })} %>
    <h1>Files</h1>
    <% files.files.forEach(file => { %>
      <p><%= file %></p>
      <% }) %>
    
    <% if (user) { %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="upload">Upload file</label>
      <input type="file" name="avatar" />
      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <ul class="errors">
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }); %>
      </ul>
      <% } %>
      <button type="submit">Upload</button>
    </form>
    <% } %>
  </body>
</html>
